<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <!-- Image and text -->
     <a class="navbar-brand" href="#">
      <img src="/assets/images/cdlogs.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
      CDlogs.info
    </a>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RMAI</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Smart Logbook</a>
      </li>

      <!-- autenticacion de usuario -->
      <% if user_signed_in? %>
      <li class="nav-item nav-link my-2 my-lg-0 form-inline"> <%= current_user.email %> </li>
      <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-item nav-link' %>  </li>
      <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %> </li>
      <% else %>
      <li> <%= link_to "Sign up", new_user_registration_path, :class => 'nav-item nav-link'  %>  </li>
      <li> <%= link_to "Login", new_user_session_path, :class => 'nav-item nav-link'  %> </li>
      <% end %>
  </div>
      </li>

     </ul>

     <!-- barra de busqueda
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
  </div>
</nav>
